@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
  }

  body {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

/* Custom CSS to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}